<div class="centered-content">
    <div class="entry-manager-container">

        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Categories
            </h1>

            <div class="catalog-menu">
                <a class="catalog-menu-item is-active">
                    <p>Catalog 1</p>
                </a>
                <a class="catalog-menu-item">
                    <p> Catalog 2</p>
                </a>
            </div>

            <button class="button is-primary" (click)="createNewList()" >+ New Catalog</button>
            
        </div>

        <div class="entry-catalog-container has-background-light">
            <h1 class="title has-text-primary">
                Entries
            </h1>

            <!-- Entry ELEMENTS -->
            <div class="entry">
                <div class="entry-text">
                    <p>Entry first.</p>
                </div>
            </div>
        </div>

    </div>

</div>