<div class="centered-content">
    <div class="entry-manager-container">

        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Categories
            </h1>

            <div class="catalog-menu">
                <!-- NG FOR LOOP-->
                <a class="catalog-menu-item" *ngFor="let category of categories" [routerLink]="['/categories', category._id]" routerLinkActive="is-active">
                    <p>{{ category.title }}</p>
                </a>

            </div>

            <button class="button is-primary" routerLink="/new-category" >+ New Catalog</button>
            
        </div>

        <div class="entry-catalog-container has-background-light">
            <h1 class="title has-text-primary">
                Entries
            </h1>

            <!-- Entry ELEMENTS -->
            <div class="entry" *ngFor="let entry of entries">
                <div class="entry-text">
                    <p>{{ entry.title }}</p>
                </div>
            </div>

            <button class="circle-add-button">

            </button>
            
        </div>

    </div>

</div>